[2017-02-21 03:00] ajnewton1 opened #1 "Todo List"
After class today, @ajnewton1 , @Samantha-Mcguigan, and @jonhoranic met with @RJP43 and me (@ebeshero), to discuss what to do next. @gretchenuhrinek was notably absent.

- [x] @jonhoranic will produce some basic XML markup on the four articles posted here so there's a common structural approach to all the documents, and post the files to this GitHub repo so everyone can pull them in.

- [x]  Once

[2017-02-21 03:01] dotfig commented on #1
@ajnewton1 @Samantha-Mcguigan
Quick update guys, the weekend had some technical hiccups here at home with the ever wonderful Comcast. It did not slow me down when it came to accessing things and starting to code, what did slow me down was helping the family set up the new TV's and Comcast boxes, so it has been a bit hectic with the house half dismantled.

My apologies on having to delay, but hopef

[2017-02-26 03:49] Samantha-Mcguigan opened #2 "Meeting 02/24/17 Decisions and Notes"
We will use John's images and CNN article as a guide for tagging other articles

`<quote>` will be used for spoken word quotations
`<q>` will be used to for anything in quotation marks that is not a quote from a speaking person

`<ref id="Lastname">` will be used to reference people `<ref id="Lastname_Firstname>` will be used if there are people with the same last name

`<adj type="emo">` will be

[2017-03-14 14:48] ajnewton1 opened #3 "Project Midterm (3/17)"
The following are things what need to be completed by Friday, March 17th. I say we should try to meet Wednesday, if that works for everyone, to try to grind this stuff out.

- [x] Schema Design: Design clear and well-documented schemas in Relax NG and Schematron to guide and manage the team's markup for your project.

- [x] XML Markup: Complete a substantial amount of XML coding (this to be determ

[2017-03-15 15:57] Samantha-Mcguigan opened #4 "Meeting 3/15"
Aaron-Schema (Relax NG)
Samantha-check Schema and work on CSS/web development

CNN, NPR, BBC, FOX

For Friday: each code 4 articles
For Monday: each code 8 articles

John: Women's March, Sessions, Flynn stepping down
Aaron: Tax release, Dakota Pipeline
Samantha: Election night/results, Travel ban, Orlando?

[2017-03-16 02:30] Samantha-Mcguigan opened #5 "XML Markup Questions"
@jonhoranic @ajnewton1
I was wondering if you guys were saving articles from websites by saving the page as an html document and then changing it to save it as an XML document or if you were just copy and pasting it from the site into a new xml document on oxygen?

[2017-03-16 03:09] Samantha-Mcguigan commented on #5
Also, I was going to nest `<quote>` tags inside `<p>` since all quotes will be their own paragraphs if that sounds good to everyone.

Should links that are part of their own paragraph also have `<p> `tags?

In the first article I am coding there are sub headings within the article body so I am going to code them as `<subHead>` and put them inside `<p>` tags

[2017-03-16 03:46] jonhoranic commented on #5
@Samantha-Mcguigan GitHub has been having hiccups for me, I apologize for not seeing your earlier post! Anyway:

1. I personally do not save the articles, they can a bit messy that way. Copy and pasting helps get the main text, which is what we are focusing on, however if you find it easier do what works best.
2. The quote thing sounds good to me, I have been doing that too for paragraphs that are

[2017-03-16 03:51] Samantha-Mcguigan commented on #5
I was thinking we could save articles like by putting the topic first, then the what site it comes from so:

electionResults_CNN.xml
electionResults_FOX.xml

etc...

we can also add the date the article was published if you want. What do we think?

[2017-03-16 03:53] Samantha-Mcguigan commented on #5
Sorry, last thing for tonight, under one of the videos on the site there is this description

Donald Trump: Hillary Clinton called to congratulate us 00:48

I had it just tagged as a paragraph but I think I might just delete it since it doesn't really help with our research?

[2017-03-16 04:48] Samantha-Mcguigan commented on #5
@jonhoranic @ajnewton1 @ebeshero @RJP43
Okay, I lied, I have one more question, there is some emotional language in the articles that are neither adverbs or adjectives and I think we would be missing out on some good results if we didn't code those as well so I was thinking we either code them the same as we are coding the adjectives and adverbs so:

`<verb type="emo"> `

or we could change the at

[2017-03-16 13:59] ajnewton1 opened #6 "Relax NG Schema"
Do you guys think that we should have four schemas? Meaning that we would have one schema for each news site(CNN, Fox, NPR, BBC) considering they are all going to have different format.

[2017-03-16 14:05] ebeshero commented on #6
@ajnewton1 Would the differences in format actually affect the way you're coding the articles? One reason to have a unified schema is to make it possible to study and extract data from the texts in the same way...

[2017-03-16 15:58] dotfig commented on #5
@Samantha-Mcguigan for the video, you might want to just tag it with ````<media/>```` but make sure it is out of the ````<p></p>```` tags

[2017-03-16 15:59] dotfig commented on #5
@Samantha-Mcguigan @jonhoranic I have been merely basing the Relax-NG on the examples that @jonhoranic gave us and also the markup. I will post it as soon as I get done just so we have enough time to make adjustments to it.

[2017-03-16 16:33] dotfig commented on #5
@Samantha-Mcguigan it doesn't matter to me. I am assuming you are doing the second one though

[2017-03-16 17:17] jonhoranic commented on #5
@Samantha-Mcguigan
1. Sounds good! Just name them and then push them when you are ready so we can use them as the file naming standard.
2. The video tags should be excluded really, if you want to nest them in a comment tag or just make a note that one existed there that would be fine.
3. Having them all be the same element works better, that way we can mark them much faster then all we would need

[2017-03-16 17:18] jonhoranic commented on #5
@ajnewton1 With what @Samantha-Mcguigan is doing with the tags, you can write a rule for the ````<emo>```` element that if it does not have a proper type attribute from the three we have that would be a good flag for us to make corrections.

[2017-03-16 20:50] dotfig commented on #5
The Relax-NG is in the articleRef folder @jonhoranic @Samantha-Mcguigan. I tested it on the Women's March and Election example and seemed to be alright except for a few minor things. In the ````date```` element, I used ````xsd:date```` which means that the format should be ````YYYY-MM-DD```` and in the ````<time>```` element I used ````xsd:time```` which means that the format should be ````hh:mm:s

[2017-03-16 22:34] jonhoranic commented on #5
@ajnewton1 Looks good to me, at least from the Github mobile interface. When I return home I'll look at it through Oxygen and run it a few time. Keep up the good work!

Are you continuing now with mark up of articles? Let us know if you need any assistance.

[2017-03-16 23:25] dotfig commented on #5
Yes I should be good with the articles. Look at the website and let me know how you guys like it. http://newsanalysis.newtfire.org/index.html

[2017-03-17 00:18] ebeshero commented on #5
@ajnewton1 I think the website looks sharp! I especially like how you linked from the news logos: the images are functional to tell us exactly what news outlets you're tracking.

 Here are some things to correct and/or think about:
*  The menu is missing apostrophes on "Women's March" and "Trump's Tax Release".
* As your project starts adding visualizations and analysis do you think you'll want a

[2017-03-17 02:31] dotfig commented on #5
@jonhoranic @Samantha-Mcguigan Are you guys able to help me out with marking up my Trumps Taxes files? I pushed them to the repo. The only thing that I need help with are the ````emo```` tags. I am not confident with my knowledge of adverbs, verbs, adjectives, etc.

[2017-03-17 02:47] jonhoranic commented on #5
@ajnewton1 @Samantha-Mcguigan I am starting to see that if we were to work on tagging the emotional elements for each file, one by one, we will be held up for a considerable length of time on each. Perhaps it would be best if we could get our batches of files "structurally" coded first, then go back in and start tagging the emotional bits. I am testing some possible solutions (some web programs an

[2017-03-17 02:51] dotfig commented on #5
Yea I agree @jonhoranic. Would you say that we should still complete the ````<a href="">```` tags and tags that involve anything with quotes? ````<q>```` and ````<quote>````

[2017-03-17 02:59] jonhoranic commented on #5
@ajnewton1 I think that would be worth while, those will take less time and I think fit into the class of structure, if necessary, mark all the quotes in the shorter ````<q>```` tag which I believe covers ALL quotes, we can go back and add to them if they are really ````<quote>```` which I believe are only SPECIFIC instances.

I could also be **horribly** wrong here but if that helps lighten the l

[2017-03-17 03:02] dotfig commented on #5
@jonhoranic I think we discussed that ````<q>```` is only used for random words/phrases that were enclosed with quotation marks and ````<quote>```` is only used for when someone is actually speaking. Trump's Taxes are pushed into the repo and the website is as far as it can be I think for now. All of the website files are in the repo as well so fell free to add or take away anything that you don't

[2017-03-17 03:23] jonhoranic commented on #5
@ajnewton1 Sounds about right, thank you for the reminder. I will be ready to get the women's march ones up within the hour.

[2017-03-17 03:29] dotfig commented on #5
@Samantha-Mcguigan I incorporated the ````<subHeader>```` into the Relax-NG but I didn't make it go inside the ````<p>```` tag. It just stands by itself inside the ````<body>```` tag

[2017-04-09 19:53] ebeshero commented on #6
@ajnewton1 @Samantha-Mcguigan @jonhoranic @RJP43  "Houston, we have a problem!" I'm reviewing your project files, and while you have a well documented Relax NG schema, that schema has not been associated with the code in your project GitHub. When I go to associate it there are lots and lots of validation errors.

Now that you've all been learning a lot about how to write code to process informatio

[2017-04-09 22:08] ebeshero commented on #6
@jonhoranic @ajnewton1 @Samantha-Mcguigan @RJP43
As I'm reviewing your project schema, I noticed some things that you might want to fine-tune:
* First, you might want to be making more use of datatypes for some of your elements/attributes. Specifically, I'd suggest you want to set **xsd:anyURI** as a datatype value for the element content of `<hyperlink>` and the attribute content of `@href`, sinc

[2017-04-10 16:36] Samantha-Mcguigan opened #7 "Code Clean Up"
@ajnewton1 @jonhoranic

Hey team! I was talking to Dr. B after class and I'm going to go ahead and take the lead on cleaning up the code and the schema. I'll add in the emo tags as well. I thought we might add another set of articles for the stories on the Syrian bombings? If someone wants to do the basic outline code for that I can also go in after to add emo tags. Let me know if you have any sug

[2017-04-10 16:42] dotfig commented on #7
I can do the basic outline for the four other articles for the Syrian Bombings

[2017-04-10 20:55] Samantha-Mcguigan commented on #6
@ebeshero I'm not sure what it means to to set `xsd:anyURI` as a datatype value.  Should it be like this:
`<xsdid>http://www.bbc.com/news/election-us-2016-37920175</xsdid>`
that doesn't seem right.

[2017-04-10 21:00] ebeshero commented on #6
@Samantha-Mcguigan That's something we'd do inside the schema, and it's similar to setting the format for an ISO date value as the contents of an element or an attribute. You have two places in your project code where you want to include a website address: they are:
1) a `<hyperlink>` element, and
2) the `@href` on `<a>`
In the Relax-NG file, you can control the contents of each of these to make t

[2017-04-10 21:03] ebeshero commented on #6
@Samantha-Mcguigan I think I see what's throwing you off: the examples I link to are Relax-NG in XML syntax, not the syntax we're using in our schema. Here's a better example. What we're doing is like this:
[code]
and would look like this:
[code]

[2017-04-10 21:05] Samantha-Mcguigan commented on #6
That makes so much more sense!! Thank you!
________________________________
From: Elisa Beshero-Bondar <notifications@github.com>
Sent: Monday, April 10, 2017 5:03:21 PM
To: Samantha-Mcguigan/newsAnalysis
Cc: McGuigan, Samantha Elizabeth; Mention
Subject: Re: [Samantha-Mcguigan/newsAnalysis] Relax NG Schema (#6)

@Samantha-Mcguigan<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fg

[2017-04-11 03:45] Samantha-Mcguigan commented on #7
@ajnewton1 @jonhoranic

Hi all, I was working on the schema and I'm trying to get it so the element `siteInfo` has a ref attribute as well as  hyperlink  section  titleLine and  pubInfo elements in any order and this is what I have

`siteInfo = element siteInfo {"ref"| mixed{(hyperlink | section | titleLine | pubInfo)*}}`

but when I associate it with an xml document I'm getting an error that the

[2017-04-11 03:51] ebeshero commented on #7
@Samantha-Mcguigan The quotes around "ref" will be the problem here. You'd use those for defining attribute *values*, not designating the attribute names themselves.

[2017-04-11 04:00] Samantha-Mcguigan commented on #7
@ebeshero Oh geez, sorry its been a while, thank you again!

[2017-04-11 05:33] Samantha-Mcguigan commented on #7
@ajnewton1 @jonhoranic
Hey friends! The schema and code is all updated and are all valid together and pushed to GitHub! YAY!! I made some comments on some questions I had for the group which we can go over in class on Wednesday. There is still a text article in the women'sMarch folder that is just text and needs to be converted to XML if someone wants to do that and then I can add the `<emo>` tags

[2017-04-11 13:49] dotfig commented on #7
I will do the basic mark up on the Women's Article as well as the Syrian Bombings. Are there any other articles that you had in mind?

[2017-04-12 00:56] dotfig commented on #7
I am working on the Syrian Bombing articles right now.

[2017-04-12 00:57] Samantha-Mcguigan commented on #7
Perfect! I am working on the emo tags!
________________________________
From: Aaron Newton <notifications@github.com>
Sent: Tuesday, April 11, 2017 8:56:48 PM
To: Samantha-Mcguigan/newsAnalysis
Cc: McGuigan, Samantha Elizabeth; Mention
Subject: Re: [Samantha-Mcguigan/newsAnalysis] Code Clean Up (#7)

I am working on the Syrian Bombing articles right now.

—
You are receiving this because you were

[2017-04-12 02:33] dotfig commented on #7
I am having a conflict on pulling from my git command. I think it is a merge conflict. Any idea how I solve that anyone?

[2017-04-12 02:40] ebeshero commented on #7
@ajnewton1 enter `git status` and what does the terminal tell you?

[2017-04-12 02:41] dotfig commented on #7
[code]

[2017-04-12 02:42] ebeshero commented on #7
@ajnewton1 Okay. First do a `git pull`
What happens?

[2017-04-12 02:43] ebeshero commented on #7
Also, as we're working on this, here's an old DHClass-Hub issue I've made to store handy resources in case of GitHub troubles: https://github.com/ebeshero/DHClass-Hub/issues/92

[2017-04-12 02:43] dotfig commented on #7
@ebeshero

[code]

[2017-04-12 02:44] ebeshero commented on #7
@ajnewton1 OK--that's not a problem. Do a `git commit -m "your message here"` to stage your commit (which makes sure that you won't lose anything you've worked on)

[2017-04-12 02:45] ebeshero commented on #7
@ajnewton1 Then do a `git status` again

[2017-04-12 02:47] dotfig commented on #7
@ebeshero I don't think the `git commit -m "your message here"` worked.

[code]

[2017-04-12 02:48] ebeshero commented on #7
@ajnewton1 Looks like you need to do a `git add . ` Then do the `git commit -m "message"` again

[2017-04-12 02:49] ebeshero commented on #7
@ajnewton1 I always do those two in sequence like this:
[code]
When I use the -a, I think that's pretty much doing the same thing as `git add .`

[2017-04-12 02:50] dotfig commented on #7
@ebeshero ahh just noticed that!
This is what shows up after the `git status` `
[code]

[2017-04-12 02:50] ebeshero commented on #7
@ajnewton1 Good--now try pulling again! If there's a conflict I'll walk you through it...

[2017-04-12 02:51] dotfig commented on #7
@ebeshero unfortunately... there is a conflict.

[2017-04-12 02:54] dotfig commented on #7
@ebeshero would the `git checkout .` work in this situation? I don't want to push the stuff that I did on that article.

[2017-04-12 02:54] ebeshero commented on #7
@ajnewton1 no worries--we'll fix it! What happens with `git status`?

[2017-04-12 02:54] dotfig commented on #7
@ebeshero ````MacBook-Pro:newsAnalysis fig$ git status
On branch master
Your branch and 'origin/master' have diverged,
and have 1 and 3 different commits each, respectively.
  (use "git pull" to merge the remote branch into yours)
You have unmerged paths.
  (fix conflicts and run "git commit")
  (use "git merge --abort" to abort the merge)

Changes to be committed:

	modified:   articleRefGuide/ne

[2017-04-12 02:58] ebeshero commented on #7
@ajnewton1  You don't want git checkout (because that is when you have a separate branch in your repo--I'll show you how I use that sometime). I also think it's fine to commit what you have.

This might seem weird, but following the instructions in `git status` is usually the best thing to do. And if something happens that doesn't make sense or that you can't complete, there's no harm done in shut

[2017-04-12 03:00] ebeshero commented on #7
@ajnewton1 My guess is that you're looking at @Samantha-Mcguigan 's changes (right?)

[2017-04-12 03:00] dotfig commented on #7
@ebeshero Yes that is correct and I hit the format button and saved it by accident. Just a little simple stupid mistake.
``MacBook-Pro:newsAnalysis fig$ git pull
error: Pulling is not possible because you have unmerged files.
hint: Fix them up in the work tree, and then use 'git add/rm <file>'
hint: as appropriate to mark resolution and make a commit.
fatal: Exiting because of an unresolved confli

[2017-04-12 03:01] ebeshero commented on #7
@ajnewton1 OK--is it just one file? If you still have it open, can you undo the change?

[2017-04-12 03:02] dotfig commented on #7
@ebeshero No I actually already tried that. I tried to open it back up and tried to reverse what I did but it wouldn't let me

[2017-04-12 03:03] dotfig commented on #7
@ebeshero but yes it is just one file

[2017-04-12 03:03] ebeshero commented on #7
@ajnewton1 Well, you can always download it again from the web repo--just download it from the raw GitHub file, save in place...

[2017-04-12 03:05] ebeshero commented on #7
@ajnewton1 Actually, if you just pretty-printed the file, it shouldn't be a big deal. You should be able to commit your change and merge it into the origin.

[2017-04-12 03:07] ebeshero commented on #7
@ajnewton1 Thinking about this. When you open up the file in question, scroll through it and look for
[code]
notations--those are left by Git to indicate a conflicted area. If there are lots of these and they're hard to deal with, I'd maybe just download the file directly from the web GitHub into your local directory, then commit and push.

[2017-04-12 03:10] dotfig commented on #7
@ebeshero I just downloaded the RAW file from GitHub. I don't know why but I didn't think of that. It was so easy that it was hard. Thank you for your help!

[2017-04-12 03:10] ebeshero commented on #7
@ajnewton1 So now, do a `git status`

[2017-04-12 03:13] ebeshero commented on #7
@ajnewton1 Do you have changes still to commit and push to the repo?

[2017-04-12 03:23] dotfig commented on #7
@ebeshero no I do not right now

[2017-04-12 03:23] dotfig commented on #7
@ebeshero I think I successfully commited everything

[2017-04-12 15:30] Samantha-Mcguigan opened #8 "Tasks 4/12"
# Tasks for Friday Presentation in Oakland
Be sure to check off tasks as you complete them so others know if ready to move on to next task of data visualizations.

@jonhoranic
- [x] push womensMarch_NPR article
- [x]  get creative commons license on site
- [x] Change tab/pages from news topics to News Sources with News Titles/Topics as sub-headings
Each News Source page should include network grap

[2017-04-12 15:46] RJP43 commented on #8
# Visualization Ideas

1. Bar Graph Comparing Number of Gendered Quotes used by Each News Source (Analysis Tab - with explanation)
2. Bar Graph Comparing Number of Politically Charged Quotes used by Each News Source (Analysis Tab - with explanation)
3. Four Cytoscape Networks of `<emo>` language per News Sources (includes all articles from a single News Source for each network) These will be on ta

[2017-04-12 17:12] Samantha-Mcguigan commented on #8
I can't push the changes to the schema, I'm getting a merge conflict but it won't let me pull anything in either. Should I just add the `@sex `and `@pol` attributes to the articles and worry about pushing them later?

[2017-04-12 17:15] RJP43 commented on #8
Are you still on campus?

[2017-04-12 17:28] RJP43 commented on #8
@Samantha-Mcguigan and I resolved this merge conflict. So basically what happened was Sam did not realize Aaron did work on his files before she attempted to add and commit her changes to the schema. So when she went to commit git said there was an error because the remote origin had changes she didn't have locally. To fix this we used the command `git rebase origin/master` followed by `git push`

[2017-04-12 18:25] Samantha-Mcguigan commented on #8
Schema and electionResults articles are updated

[2017-04-12 22:38] dotfig commented on #8
trumpTaxes, travelBan, and syrianBombings are all marked up and completed

[2017-04-13 00:15] jonhoranic commented on #8
@Samantha-Mcguigan @ajnewton1 Fixed my GitHub situation, something was going haywire with my working library and local file management. I reset it, had two merge conflicts, and I am **ASSUMING** that nothing has been pushed that would set us back since I cleared those old pushes that would have been "old copies" of our current files. I **HIGHLY RECOMMEND** you two double check and see if I have no

[2017-04-13 01:25] dotfig commented on #8
@jonhoranic It looks like everything is safe and sound. The only thing I would recommend would be to add the ``sex="" pol=""`` attributes to your ``<quote>`` elements in the womensMarch_NPR file.

[2017-04-13 02:04] jonhoranic commented on #8
@ajnewton1 Good to hear, I am working on the website files as we speak and should be able to have that prepared for review before we put it up on the server. Can I ask you and @Samantha-Mcguigan to produce little introductory bios for the about page? Take a look at the other student projects for a roundabout model and just post them here, I'll will work on getting that presentable. We do not requi

[2017-04-13 15:31] jonhoranic commented on #8
@Samantha-Mcguigan @ajnewton1 The women's march articles are up, and I am still working on the website files. We can start developing visualizations now, but word of warning, check the files one last time before we upload them to the Exist Database because any changes we push to the GitHub here will NOT carry over unless we re-upload them to the Exist-DB constantly. I will ping in again when I hav

[2017-04-13 20:35] dotfig commented on #8
@jonhoranic @Samantha-Mcguigan The articles are in eXide. Am I supposed to put the schema in there as well?

[2017-04-13 20:37] RJP43 commented on #8
@ajnewton1 No, you just want the files in eXide that you want to query.

[2017-04-13 20:41] RJP43 commented on #8
Since @jonhoranic is working on site files perhaps divide the visualizations up among @Samantha-Mcguigan and @ajnewton1 Who is more comfortable with Cytoscape versus a SVG bar graph? First step for either visualization will be to create a query grabbing the parts of the markup you are interested in graphing/networking. Be sure to be saving in your indiv. eXide folders so as you have questions we c

[2017-04-13 23:47] Samantha-Mcguigan commented on #8
I'll do cytoscape

[2017-04-13 23:51] RJP43 commented on #8
@Samantha-Mcguigan see my notes above where I transcribed a bit of what we talked about as a group and what I discussed with Jon after class regarding the Cytoscape networks. @jonhoranic and I discussed using a Cytoscape graph for each news source but certainly if you have a different idea in mind go with it!

[2017-04-14 00:43] dotfig commented on #8
I will do a bar graph showing the amount of males and females that are referenced

[2017-04-14 01:01] Samantha-Mcguigan commented on #8
@RJP43 @ajnewton1 @jonhoranic I'm not sure exactly what you all want for the network? I know you mentioned `emo` tags but how do we want to use them? and what do I want to get for the edge? Also, you mentioned doing one for each of the news sources but they are not organized that way in eXide, they are in groups by topic. Can I still do it my news source then?

[2017-04-14 01:14] jonhoranic commented on #8
I have **finally** gotten a rough homepage and format style based off of what @ajnewton1 had previously. I am going to now quickly finalize the new pages and then locally test/troubleshoot for a bit to make sure everything links properly before pushing and getting them onto the server.

[2017-04-14 01:18] RJP43 commented on #8
@Samantha-Mcguigan... I can't access my computer right this moment... are all of the files (whether in a sub-folder or not) sitting within a single folder?

If so, you can drop to the main folder and get only articles with the source ref for each specific news source.

[2017-04-14 01:19] RJP43 commented on #8
I mean the `<siteInfo> @ref`

[2017-04-14 01:20] Samantha-Mcguigan commented on #8
@RJP43 oh right that makes a lot of sense! Also I was thinking I could also do a bar graph on the emo tags used per source instead? I think that makes more sense for us but if you want a network graph I can still do that I just don't know what you all wanted

[2017-04-14 01:33] RJP43 commented on #8
@Samantha-Mcguigan you can do as you wish since it is your project.

Let me further explain the networks @jonhoranic and I discussed to see if it seems worth doing in general (maybe not for tomorrow however).

Since the purpose of the project is to determine how certain news sources portray certain events differently by the emotional language and number of politically charged quotes, I suggested i

[2017-04-14 01:34] RJP43 commented on #8
*make ... Sorry not at my computer.

[2017-04-14 01:35] Samantha-Mcguigan commented on #8
Yes that all makes sense! Thank you for your help!

[2017-04-14 01:38] RJP43 commented on #8
@Samantha-Mcguigan of course, no problem! ALSO, @jonhoranic please correct me if I've misrepresented the ideas we were bouncing around after class on Wednesday.

[2017-04-14 01:55] Samantha-Mcguigan commented on #8
I am trying to grab all the CNN articles and I have:
[code]
but its just grabbing the siteInfo elements in these articles instead of the whole article? How do I fix that?

[2017-04-14 01:57] dotfig commented on #8
@Samantha-Mcguigan go to my database and look at what I have. It was like that for me for a little. Make sure there is no ``declare default element namespace "http://www.w3.org/2000/svg";`` on the top of your code.

[2017-04-14 01:57] RJP43 commented on #8
@Samantha-Mcguigan notice where you are stopping.

You are stopping on the siteInfo elements  **that have** the CNN ref but not actually on the ref.

[2017-04-14 02:00] RJP43 commented on #8
@Samantha-Mcguigan Oh also ... if you want to grab the whole article you might instead grab articles and even the news topics by their base-uri pieces.

[2017-04-14 02:02] RJP43 commented on #8
That is if the articles are named as they are here in GitHub with the news topic and source separated by the underscore.

[2017-04-14 02:05] RJP43 commented on #8
While the source nodes are the news sources that doesn't necessarily mean you want your for-loop to run through the sources ... makes more sense to grab **for each** emo word the news source, topic, and part of speech associated.

Thoughts?

[2017-04-14 02:06] RJP43 commented on #8
@Samantha-Mcguigan

[2017-04-14 02:07] Samantha-Mcguigan commented on #8
I'm confused hold on

[2017-04-14 02:08] RJP43 commented on #8
@ajnewton1 @Samantha-Mcguigan I would also say that even if you just get the queries completed tonight that would be enough to explain in tomorrow's brief presentations the end goal.

[2017-04-14 02:09] dotfig commented on #8
Mine is being a little weird. I am trying to write and SVG file in eXide and its being stupid. When I go to view it in the browser it is saying, "This XML file does not appear to have any style information associated with it. The document tree is shown below."

[2017-04-14 02:10] RJP43 commented on #8
@Samantha-Mcguigan okay, sorry if I've confused things. You might be doing things a different, better way. I was just thinking out loud what might work.

[2017-04-14 02:10] Samantha-Mcguigan commented on #8
I though I needed a different network graph for each source so I still need to get all the articles based on what source they are from first right?

[2017-04-14 02:11] ebeshero commented on #8
@ajnewton1 Check if you've applied the SVG namespace in your XQuery!

[2017-04-14 02:13] dotfig commented on #8
Ahhh thanks @ebeshero ! I think thats exactly what I told @Samantha-Mcguigan not to use. Whoops

[2017-04-14 02:15] RJP43 commented on #8
@Samantha-Mcguigan  since you are creating the input for Cytoscape my way would be making a master file  (of which can be sorted by source node using a where stmt) that would have all of the news sources and articles of which you then could cut and paste into separate files the different news sources so in the end would have 4 separate files to input individually... there are certainly other ways

[2017-04-14 02:19] dotfig commented on #8
when I put the ``declare default element namespace "http://www.w3.org/2000/svg";`` in my code and run it, all of my values are 0 and I don't know why. When I take it out of my code and run it, all my values are what they should be.

[2017-04-14 02:23] ebeshero commented on #8
@ajnewton1 Aha! This is a tough spot because your input XML is in no namespace, so you don't have anything to call it. Try this: DON'T declare a default namespace, but just use the other namespace line that requires a prefix, and give the SVG a prefix (as in svg:). You'll have to prefix all the SVG elements in your XQuery script, but I think that'll work!

[2017-04-14 02:25] RJP43 commented on #8
Also, welcome to the "it is always a name space issue" club ...  haha ... one of us 🙌

[2017-04-14 02:28] Samantha-Mcguigan commented on #8
One of us. One of us. One of us. Also figured out how to grab all the full articles based on their source! Small victories!

[2017-04-14 02:30] RJP43 commented on #8
@Samantha-Mcguigan HUZZAH!

[2017-04-14 03:27] jonhoranic commented on #8
@Samantha-Mcguigan @ajnewton1 Hey! Web files coming in shortly! I left comment tags for where we can place svg and note our "work in progress areas" that need more immediate attention. I am going to push them now, I will then put them up on the server client, AND THEN I will rest up for tomorrow's presentation. If something seems off, make the changes needed!

[2017-04-14 03:28] dotfig commented on #8
@Samantha-Mcguigan @jonhoranic I just finished my svg file. where shall I put it?

[2017-04-14 03:34] jonhoranic commented on #8
@ajnewton1 Nest that svg file in the same file as the web files, when we call on it in the html it should pop into the site. The files are in the repo now, if you know where you are gonna place it open up the page and tinker around with it to see how it sits. I can hold off uploading to the server if we are going to be making changes. Sadly I think I am nodding off at my desk, is there anything pr

[2017-04-14 03:37] dotfig commented on #8
@jonhoranic I think we are all good. I will post my svg file into the Website folder and name it bar.svg

[2017-04-14 03:39] jonhoranic commented on #8
@Samantha-Mcguigan @ajnewton1 Aye aye, good work guys, see you both tomorrow!

[2017-04-14 03:40] Samantha-Mcguigan commented on #8
@jonhoranic Hey John I thought you might have some insight on this, I am trying to make a network in eXide and I am working in the edge which @RJP43 said she discussed with you as being the article topic. My only problem is that the topic is not in a tag inside the xml documents, its only in the document title. Is it possible for me to get the edge from that?

[2017-04-14 03:41] Samantha-Mcguigan commented on #8
I think for now I might just make the edge the same as the source (CNN, FOX, NPR, BBC)

[2017-04-14 03:41] RJP43 commented on #8
@Samantha-Mcguigan you could tokenize base-uri... unless this is also encoded somewhere in the article where it might be easier to grab

[2017-04-14 03:43] Samantha-Mcguigan commented on #8
@RJP43 Oh wow thats fancy, okay I will try that

[2017-04-14 03:59] dotfig commented on #8
It looks like there is a little bit of a hiccup on the webpage. Im not sure if I should try to mess with it or not or should we just leave it be?

[2017-04-14 04:50] Samantha-Mcguigan commented on #8
I figured out how to use tokenize and base-uri to get the article topics but I can't figure out how to walk back up the tree from the emo tags to get the title of the article

[2017-04-14 04:51] ebeshero commented on #8
@Samantha-Mcguigan Look all the way up the `ancestor::` axis to the root node of your file, and then look down from there for the title.

[2017-04-14 04:53] Samantha-Mcguigan commented on #8
the root node of all the files is just `<article>` though.

[2017-04-14 04:54] ebeshero commented on #8
@Samantha-Mcguigan Do you have a title coded as a descendant of the root node? Then look down the tree from the root node for the title. XPath lets you look up the ancestor axis and then look down the descendant axis from there.

[2017-04-14 04:55] Samantha-Mcguigan commented on #8
wait hold on I think I might have figured it out

[2017-04-14 05:18] Samantha-Mcguigan commented on #8
So this is what I'm doing for the edge:
[code]
but I'm getting too many results. Any ideas?

[2017-04-14 08:00] Samantha-Mcguigan commented on #8
I have:
[code]
I'm getting 77,000 + results and I don't know why

[2017-04-14 08:12] ebeshero commented on #8
@Samantha-Mcguigan Sorry, I'm just seeing this. Do your results make sense, line by line? or are they missing  something/ don't always line up?

I'm not sure I understand what you're trying to catch in your first if() then else statement. When *wouldn't* the siteInfo `@ref` = $s? (Or what is the distinction you're trying to make here between one condition and the rest?
Anyway, I know you don't nee

[2017-04-14 08:39] Samantha-Mcguigan commented on #8
I have this now:
[code]
the only reason I have an else statement is because you have to have it. Do I even need to do an if then else statement ? I thought thats just what you had to do to make a network graph

[2017-04-14 08:41] Samantha-Mcguigan commented on #8
I am getting the right number of results and the central and target nodes are right but the edges are all giving me "other"

[2017-04-14 08:43] ebeshero commented on #8
@Samantha-Mcguigan No, you don't have to have it, and you don't want it if it isn't really distinguishing one kind of node from another. The point of the If / then /else is only when you need to use them to distinguish one type of node from another.  I'm not really clear on what you're trying to distinguish, and maybe you really don't need the if condition?

In our homework assignment we used `if(

[2017-04-14 09:02] Samantha-Mcguigan commented on #8
I think I still need it because the target mode is an emo tag based on what is inside the ref attribute on the siteInfo node higher up in the document but I'm not really sure? Anyway I have to give up for the night so I don't fall asleep driving everyone to Pittsburgh in a few hours

[2017-04-14 12:17] dotfig commented on #8
In order to see the bar.svg file better, just click on it and it will open a new window

[2017-04-14 14:12] RJP43 opened #9 "Project Feedback"
Pitt-Oakland and others comment on this issue with your comments on today's presentation.

[2017-04-14 14:21] RJP43 commented on #9
A comment/suggestion I have on this project in regards to the bar graph analysis would be to organize the x-axis by news source and perhaps use javaScript to toggle between news topics. I think this setup would be more indicative of what the project is analyzing as in the language difference between news sources not between news topics.

I like the idea of having different bar graphs for each demo

[2017-04-16 21:37] emz15 commented on #9
Hi guys,
I really like the topic of your project here, and I think it’s particularly important given the time period we’re in right now with our current administration. But I do have a couple questions about your project.
I like the diversity in outlets you chose to analyze for this project, but how did you decide on these outlets? I understand you were looking for sources with a variety of leans,

[2017-04-17 02:43] crm105 opened #10 "Project Feedback"
Hey all,

     I was very impressed and interested in your group's presentation the other day. It seems to me that your group is taking a different perspective towards similar philosophical questions as my group, immigration station. As such, I am curious as to how your group navigates or identifies what constitutes as emotionally charged language. Naturally, I think most may agree that one will i

[2017-04-17 13:24] zme1 opened #11 "Project Feedback"
In going to your sight, one issue that is worth noting (an issue that our group is also
wrestling with at the moment) is the fact that your site does not launch fully in
the Safari browser. Based on my understanding, I think there are some discrepancies in
the manner of coding required to iron out your Safari-based page, and it is hopefully
just a matter of coding more explicitly in your CSS style

[2017-04-17 14:33] RJP43 commented on #9
Also reference Issues #10 and #11

[2017-04-17 18:02] Samantha-Mcguigan opened #12 "Project Tasks"
- [ ] Selection principle for sources. @jonhoranic
- [x] Topics headings on homepage. @jonhoranic
- [ ] Finish network analysis and post on site @Samantha-Mcguigan
- [x] Write up short biographies for the about page.
- [ ] Add a link to this GitHub repo to the site.

[2017-04-17 18:03] Samantha-Mcguigan commented on #12
@jonhoranic @ajnewton1 We can distribute tasks in this issue, just edit the the the comment above.

[2017-04-17 22:02] ebeshero commented on #8
@Samantha-Mcguigan I think we figured this out today, right?

[2017-04-17 22:02] ebeshero commented on #8
@Samantha-Mcguigan Just a quick note--I think we figured out the network analysis data issue today, right?

[2017-04-18 00:17] dotfig commented on #8
I also finished the graph about the different sexes for each news source. Ill wait to put that on the web once @jonhoranic is done messing with the css so there is no merge conflict.

[2017-04-19 01:13] jonhoranic commented on #8
@ajnewton1 The CSS is proving a thorn in the side, I think we can iron it out as a team in class tomorrow now that I am messing with these "flex boxes". Do not worry about pushing things, get what you can in and I will keep trying what I can on my end.

Since we need to develop some explanations, could you and @Samantha-Mcguigan gather some talking points on the articles you worked on, just so we

[2017-04-19 02:37] ebeshero opened #13 "Radar Graph"
Here's the resource that my colleague made last week for the Obdurodon students on making a radar graph. We might want to give this a try:
https://github.com/djbpitt/xstuff/tree/master/radar_plot

[2017-04-19 16:13] dotfig commented on #12
@jonhoranic merger conflict is resolved

[2017-04-19 16:26] RJP43 commented on #12
@ebeshero and I will investigate **Key Word in Context** to create a table of the phrases for the top colocated words so we can have some context with how the different networks/articles/topics are using those shared words.

[2017-04-20 21:30] dotfig commented on #12
I am going to be working on the Analysis page so try not to work on that @Samantha-Mcguigan @jonhoranic

[2017-04-20 22:14] dotfig commented on #12
I am done messing with the Analysis page. Feel free to pull and edit. @Samantha-Mcguigan @jonhoranic

[2017-04-20 22:15] dotfig commented on #12
Also, I am not the best with grammar (I am actually very bad) so don't be afraid to double check my descriptions for the graphs as well as the about page.

[2017-04-20 23:27] ebeshero commented on #12
@ajnewton1 The new graph looks great. But why do you say on the page that the first graph (I think?) is not a stacked bar plot?

@jonhoranic @Samantha-Mcguigan @RJP43 Here's the eXist-db documentation on their kwic (keyword in context) module: It's pretty straightforward to use!
http://exist-db.org/exist/apps/doc/kwic.xml

[2017-04-20 23:42] jonhoranic commented on #12
@ajnewton1 I will make an attempt to look over the site after I take care of this paper I have due tomorrow. I do not know what we might do to fill out some of the other pages, I think we can come up with something for both the organizations and the topics, but if you or @Samantha-Mcguigan have ideas let me know.

[2017-04-21 02:04] dotfig commented on #12
@ebeshero The graphs, in my opinion, are a little confusing to read. I looks like the bars are stacked on top of each other. For example on the last graph on the page, it looks like the democrats are referenced less than the republicans are referenced because there is a lot of red and a little amount of blue. However, it is the other way around and also the black bar doesn't necessarily represent

[2017-04-21 02:12] ebeshero commented on #12
@ajnewton1 Aha! So what you're saying is...these graphs need some help, and something's wrong with how they're rendering...Would you like some help with debugging them?

One suggestion to make the data appear to be more evenly comparable in the graphs is to try plotting their data as percentages...We could try that, too, and get a sense of how that looks.

[2017-04-21 12:45] ebeshero opened #14 "Bar Graphs: Troubleshooting"
@ajnewton1 I had a peek in the eXist-db at your XQuery generating one of those troubled bar graphs, and I think I've spotted the stacking problem. Here's a snip of your code generating a couple of bars on the "Comparison Between the Amount of Time each Gender Was Quoted" graph:

[code]

Here's what I see, and I'm taking my time reading the variables:
1) I'm not sure how you're determining the valu

[2017-04-21 16:32] ebeshero opened #15 "Analysis, Reflection, and Organization"
@Samantha-Mcguigan @jonhoranic @ajnewton1
Sam and I are looking reflectively at the website so far, and we're noticing that all the graphs are getting sort of lost by being all on one page.

My suggestion: The Analysis page should just be a Landing Spot, with a link out to each CATEGORY of analysis you are doing in this project.

Your task should be to identify the different categories of analysis

[2017-04-23 18:36] Samantha-Mcguigan commented on #15
@jonhoranic @ajnewton1 hey guys! Im gonna be working on the website files to better organize the site so don't edit anything right now so we don't have any merge conflicts!

[2017-04-23 18:43] ebeshero commented on #15
@Samantha-Mcguigan Yay! I'm working in the eXist-db on prepping the KWIC stuff. When I get to the PHP part, I'll do that over in my own branch off of your repo--and issue a pull request when its ready so one of you can pull it in--probably before your meeting tomorrow.

[2017-04-23 22:08] ebeshero opened #16 "KWIC searching"
I'm opening this issue to store relevant resources for the search feature:
eXist documentation on KWIC: http://exist-db.org/exist/apps/doc/kwic.xml
eXist documentation on Lucene indexes: http://exist-db.org/exist/apps/doc/lucene.xml
Apache documentation on Lucene queries (re close matching): https://lucene.apache.org/core/2_9_4/queryparsersyntax.html

Example implementations:
HTML to REST: http://

[2017-04-24 01:35] Samantha-Mcguigan commented on #15
@ebeshero I'm having a problem styling the header using CSS. It is doing it fine when I open the file locally but not when I open it in a web browser.

This is my html:
[code]
and this in my CSS

[code]
W3 schools says this is supposed to take away the bullet points and like I said, it is when I open locally but not in the browser

[2017-04-24 01:46] Samantha-Mcguigan commented on #15
So its working is Safari but not in chrome?

[2017-04-24 01:50] ebeshero commented on #15
@Samantha-Mcguigan It's not working in either browser for me. Did you upload the new css to the server?

Also, as I'm tinkering with a search.html page, I made two server-side include files to contain your top menu and your footer, just because I didn't want to keep copying them out. You may want to load your new code into `top.html` and `bottom.html`. These aren't in GitHub (I'm working in my bra

[2017-04-24 01:55] Samantha-Mcguigan commented on #15
I did upload it to the server.

I also tried making a menu.html server side include but when I tried to style that in the CSS it wouldn't work either so I thought the problem might be with the list being in a SSI rather than in the document itself.

[2017-04-24 01:57] ebeshero commented on #15
@Samantha-Mcguigan If it's in an SSI the styling will apply, but you'll only be able to see it when it's on the web server. My SSI is working here on the page I'm building:
http://newsanalysis.newtfire.org/search.html

(The search isn't quite connected up with eXist yet...I'm working on that!)

[2017-04-24 01:59] Samantha-Mcguigan commented on #15
The SSI is working but when I try to style it in CSS is the styling is not applying

[2017-04-24 02:05] ebeshero commented on #15
@Samantha-Mcguigan Sometimes there's a delay in getting the browser to respond. You have to fully refresh from the server because it'll use a cached copy of the CSS otherwise. To refresh Chrome on a Mac use:
[code]
And when I do that, I see you're definitely making changes to the CSS!

[2017-04-24 02:14] ebeshero commented on #15
@Samantha-Mcguigan PLEASE can you change the CSS or the menu elements back? I can't even see the search enter box I'm trying to test...

[2017-04-24 02:16] ebeshero commented on #15
@Samantha-Mcguigan I'm going to replace the top.html file with mine on the web server. I can't see what I'm doing otherwise, and I need to be working from the web browser.

[2017-04-24 02:17] Samantha-Mcguigan commented on #15
okay im working on it

[2017-04-24 02:26] ebeshero commented on #15
@Samantha-Mcguigan It's back the way it was before...I tried fixing it by re-uploading my top.html without the list items, but it won't budge. Can we debug that CSS? I can't see my search box, and I have to test it live on the server...

[2017-04-24 02:28] ebeshero commented on #15
@Samantha-Mcguigan Do you mind if I put the old CSS from a couple of days ago up until we've figured this out?

[2017-04-24 02:28] Samantha-Mcguigan commented on #15
I tried putting it back to the way it was but nothing is working. I don't know what is wrong, do whatever, I won't touch it

[2017-04-24 02:29] ebeshero commented on #15
@Samantha-Mcguigan So--here's how to test it locally: Don't use the SSI yet since you have styling to debug. Paste the elements back in to the local file, and mess with the CSS locally until they look right. Then when they do, put the SSI portion back in `top.html`, and post the CSS, and it'll be fine. I didn't realize how problematic the new CSS was.

[2017-04-24 02:31] ebeshero commented on #15
@Samantha-Mcguigan I know that @jonhoranic was working on CSS flexboxes for controlling the site, and I wonder if you two need to discuss that before doing too much editing of the layout?

[2017-04-24 02:38] Samantha-Mcguigan commented on #15
@ebeshero I'm looking at the CSS and this was in there:
[code]
when I take it out it seems to go back to normal when I open it locally

[2017-04-24 02:40] ebeshero commented on #15
@Samantha-Mcguigan Yes, I bet that was it! `display:block` makes everything line up as a block on the page--it would force a vertical layout of every link.

It should be fine to set up the menu items as a list, too! I just put everything back on the web server as it was....

And I ALMOST have the search working...I got it to spit out results from eXist--but I need to figure out how to put in quota

[2017-04-24 02:42] Samantha-Mcguigan commented on #15
Sounds good! Ill keep messing with the CSS locally and wait till tomorrow when we are together to put it on the site.

[2017-04-24 02:54] ebeshero commented on #15
@Samantha-Mcguigan Here's [a page of search results](http://newsanalysis.newtfire.org/search.php?input_search=mon*)!

There's ONE thing I'd like to do with the CSS. The search highlight terms are invisible here because they are being highlighted by default in white! (so it's white text on your white background). The highlights are held in `<a class="hi" href="url">` elements, and they're basically

[2017-04-24 02:58] Samantha-Mcguigan commented on #15
I'm still messing with the CSS locally and I don't want to put my changes in yet until I have it right so if you just want to do it I think that would be safer. Or if not I can change it later after I finish messing with the CSS on my end.

[2017-04-24 02:58] ebeshero commented on #15
Try the link above again, to the search results. The link wasn't working a second ago, but is now!

[2017-04-24 04:58] ebeshero commented on #15
@Samantha-Mcguigan I'm not sure if you're the one working on the CSS right now, but can you just replace the CSS styling for the `a` elements with this?
[code]
That will permit us to style links in the body of the text so that they can be read against the white background! I keep updating the style.css on the web server and then my changes go away. I don't want to interfere with what you're doing,

[2017-04-24 05:00] ebeshero commented on #15
Meanwhile, I have the search page working! See:
http://newsanalysis.newtfire.org/search.html

Try searching for a word or a part of a word! The input box fires JavaScript, which triggers the PHP that calls the XQuery script and bundles up the results--and you can click on the matches. If a `<hyperlink>` was available in the file, the search results link straight out to the original news source sit

[2017-04-24 05:08] ebeshero commented on #15
Here's the pull request: https://github.com/Samantha-Mcguigan/newsAnalysis/pull/17
I've used the latest CSS posted on the website as of 1:12am this morning, and I've added my code to replace the link styling. Please just add that code to your own CSS as you keep working, so the search engine's highlights are visible in the body of the site!
@Samantha-Mcguigan @jonhoranic @ajnewton1

[2017-04-24 05:11] ebeshero commented on #16
The promised [search page](http://newsanalysis.newtfire.org/search.html) is up and running! But the code is sitting apart in my branch of this repo. I've issued a Pull Request to ask you to merge my code into your master branch: https://github.com/Samantha-Mcguigan/newsAnalysis/pull/17

Think about where you'd like this search feature to be accessed on your site.

[2017-04-24 18:26] Samantha-Mcguigan opened #18 "Final Tasks"
- [x] @ajnewton1 moving the drop down menus, page titles, and other website navigation. Make the News Analysis title be its own link to "home". Add link to the GitHub repo somewhere!

- [x] @ajnewton1 add the search feature (with code) so it's active on the menu bar.

- [x] @jonhoranic search.php: add `<div>` elements and other features for display of pages.

- [x] @jonhoranic **spelling/grammar(!

[2017-04-24 20:05] ebeshero commented on #18
Here are a couple of short posts about the problem of drop-down menus for site navigation:

https://www.rocketspark.com/blog/drop-down-menus-5-reasons-we-dont-use-them-and-3-tips-what-do-instead/

https://www.joedolson.com/2013/07/designing-accessible-navigation/

The second article discusses accessible design features, and while it offers some recommended ways to code pages, the real takeaway her

[2017-04-24 20:12] #15 closed

[2017-04-24 20:12] #13 closed

[2017-04-24 20:13] #6 closed

[2017-04-24 20:13] #4 closed

[2017-04-24 20:13] #3 closed

[2017-04-24 20:13] #1 closed

[2017-04-24 20:14] #2 closed

[2017-04-24 20:14] #5 closed

[2017-04-24 20:18] ebeshero opened #19 "Safari browser trouble with SVG on analysis pages"
The analysis pages (the ones with SVG graphs) are rendering in a way that blocks out the top and bottom of their HTML pages in Safari. (We should check Internet Explorer too).

My hypothesis:  I think the problem might be with CSS flex boxes on these pages. To test, try an alternate CSS for these pages without any flex, and see if that renders better.  I could be wrong and I'm going to ask around

[2017-04-25 00:40] ebeshero commented on #19
Okay--here's what we know about browser support of CSS flex:
http://caniuse.com/#search=flex
It's supported by all browsers, and as long as you have a version of Safari above 10, that should be okay. That said we do have some well-formedness issues on the pages once the server-side includes fire--that is because they're currently set to open up inside the `<head>` element, instead of at the top of

[2017-04-25 00:41] dotfig commented on #19
Take a look at the [site](http://newsanalysis.newtfire.org/index.html) @ebeshero @jonhoranic @Samantha-Mcguigan and let me know if this is what you guys were thinking o

[2017-04-25 00:51] ebeshero commented on #19
@ajnewton1 I think it looks like a better use of the top space, and I like how all the items are easily visible in that space! I think it's collapsing funny on squish: the items can overlap the newsAnalysis logo. I think you can fix that by floating the menu items as divs next to each other and trying a CSS flex arrangement to manage how they take up space in the browser.

Here's a problem: You wa

[2017-04-25 01:11] ebeshero commented on #19
@ajnewton1 On second thought...I had a look at it on my iPad, and I kind of like how the menu items appear *above* the words News Analysis Project in the smaller browser window! And having the menu options opening to the right looks great!

For a few minutes, I think I saw the search window, and it was working-- I was thinking we could actually set it to run again even from the result search.php p

[2017-04-25 01:22] dotfig commented on #19
I think I got it to work. Once you're on the php page you can now search for another word @ebeshero

[2017-04-25 01:26] ebeshero commented on #19
On the search.html page, take a look at the Search icon (is it the emoji?): On my browsers it comes out like this: `SearchðŸ”`
I think to make sure it comes out right, you want to just add this line to the `<head>` element in the HTML (and it should probably be on every page): `<meta charset="utf-8">`

[2017-04-25 01:27] dotfig commented on #19
Huh, thats very interesting. On every other page the emoji is perfectly fine

[2017-04-25 01:28] ebeshero commented on #19
I didn't realize it was the same character! I bet there's something different in the encoding on that page...let me check.

[2017-04-25 01:30] dotfig commented on #19
I figured it out! There was no ``<?xml version="1.0" encoding="UTF-8"?>`` written on the top of search.html

[2017-04-25 01:34] ebeshero commented on #19
@ajnewton1 OK--that's one way to fix it, but...
....go look at your page in the [w3c validator](https://validator.w3.org/nu/?doc=http%3A%2F%2Fnewsanalysis.newtfire.org%2Fsearch.html). HTML 5 doesn't like to see an XML line at the top. So if you remove the xml line, try adding `<meta charset="utf-8">`. Trick is, it should be on every page...

[2017-04-25 01:40] ebeshero commented on #19
The w3c validator can be annoying, but among other things it likes the `<script>` line to look like so:
`<script src="javascript/menu.js" type="text/javascript">/**/</script>`
(The way we've got it, it's like this:
`<script src="javascript/menu.js" type="text/javascript">//</script>`, which makes the validator fire an error. )

[2017-04-25 01:40] dotfig commented on #19
Another thing I'm getting caught up about is the npr.html page and the fox.html. Its acting weird

[2017-04-25 01:43] ebeshero commented on #19
@ajnewton1 They look the same as the others to me--what am I missing?

[2017-04-25 01:45] dotfig commented on #19
When I click on those links. They both look go back to how the page originally looked and I am not sure why it is doing that on my browser.

[2017-04-25 01:47] ebeshero commented on #19
@ajnewton1 here's how the NPR page looks on my end:

<img width="1364" alt="screenshot 2017-04-24 21 46 01" src="https://cloud.githubusercontent.com/assets/4014518/25365576/a2660738-2937-11e7-9397-ba94118d880e.png">

[2017-04-25 01:49] dotfig commented on #19
Ugh, this always seems to happen to me. Maybe it is just Safari...
<img width="1280" alt="screen shot 2017-04-24 at 9 48 11 pm" src="https://cloud.githubusercontent.com/assets/24962219/25365600/d30dec48-2937-11e7-9bf0-ca782d0d7db9.png">

[2017-04-25 01:52] ebeshero commented on #19
Hmmm... I think you need to refresh it from the server. Might be from the browser cache? Try command + R to refresh from server.

http://osxdaily.com/2012/04/03/safari-keyboard-shortcuts/

[2017-04-25 01:53] dotfig commented on #19
Wow that was simple!

[2017-04-25 01:57] ebeshero commented on #19
I may not have told you all about favicons, and setting one up on your site...the other projects from last term have them... It's the little tiny image that shows in the browser tab. You can set that by choosing an image (any image) that you think would look sharp when shrunk to like 16 x 16 pixels, and save it as `favicon.ico` in the root of you project directory.

<img width="380" alt="screensho

[2017-04-25 02:06] ebeshero opened #20 "favicon for the site? (image in browser tab)"
I may not have told you all about favicons, and setting one up on your site...the other projects from last term have them... It's the little tiny image that shows in the browser tab. You can set that by choosing an image (any image) that you think would look sharp when shrunk to like 16 x 16 pixels, and save it as favicon.ico in the root of your project directory.

<img width="380" alt="screenshot

[2017-04-25 02:19] dotfig commented on #20
I put one in the server but nothing is showing up

[2017-04-25 02:22] ebeshero commented on #20
Try adding this line to your pages: `<link rel="icon" href="favicon.ico" type="image/x-icon" />`

Looks like that was necessary for the project teams last year...Also, I don't think Safari shows them, but the other browsers do (Firefox, for example).

[2017-04-25 13:52] ebeshero commented on #20
@ajnewton1 I'm reading that you may need to clear your browser's cache (local stored version) of your pages to see a new favicon (and that is what you need to view a change in CSS or JavaScript as well). Also you can make sure it's available by calling it up in the browser directly, with
http://newsanalysis.newtfire.org/favicon.ico
And then going back and refreshing the page that you want to show

[2017-04-25 17:33] ahunker commented on #20
@ajnewton1
@ebeshero  Was telling me you were having trouble with the favicon and I was able to get ours to work. I have a Mac as well and Safari, in general, doesn't show the favicon but when I opened the page in GoogleChrome, the icon showed up. I just relabelled an image, put it in the SSI, and popped the above link in the head of my index page and the favicon showed up on all my pages. Hope th

[2017-04-26 21:45] Samantha-Mcguigan commented on #18
@jonhoranic @ajnewton1
Are one of you working on the site right now?

[2017-04-26 21:48] jonhoranic commented on #18
@Samantha-Mcguigan I will not be working on anything until tomorrow after my morning final, as I am under a severe time crunch finishing these papers for turn in (tonight and tomorrow).

[2017-04-26 21:52] Samantha-Mcguigan commented on #18
@jonhoranic I was just trying to work on some things and the header was changed and it wasn't me who did it.

[2017-04-26 21:56] jonhoranic commented on #18
@Samantha-Mcguigan I noticed that there were some changes made, @ajnewton1 has done some of that work so far but I am unsure if he has fully finished that yet. All that would require is copy/paste work for pages that do not have it yet. If there are problems occurring because of it note what they are here so we do not overwrite each others edits.

[2017-04-26 22:01] Samantha-Mcguigan commented on #18
@ebeshero @RJP43 I'm having a problem putting the links for the articles on their corresponding pages. I have this in the html document:
[code]
the list is inside a `div class="text"` as well. And then we have this in the CSS:

[code]
And when I go to the website the link is there but it must be white because I can't see it?

[2017-04-26 22:24] ebeshero commented on #18
@Samantha-Mcguigan @ajnewton1 @jonhoranic Just a heads up: Something just recently changed rather drastically in your site's CSS.

I'd encourage you to test changes locally before rewriting each other's work on the website.  It looks like the last push to the repo was mine from two days ago, so presumably you can retrieve the CSS as it was. (You can always retrieve it from the commit history of th

[2017-04-26 22:31] Samantha-Mcguigan commented on #18
@ajnewton1 @jonhoranic @ebeshero  I added to the CSS to create clickable links on the source pages (NPR.html) the menu at the top has also been changed but I don't think that was from me

[2017-04-26 22:38] Samantha-Mcguigan commented on #18
I went back and copied what was in Git Hub to the CSS and uploaded it to the site and the menu bar is still the same without the changes I made so its not from me

[2017-04-26 22:39] ebeshero commented on #18
I wonder if someone changed the SSI file: menu.html?

[2017-04-26 22:42] Samantha-Mcguigan commented on #18
Maybe @ajnewton1 is working on it?

[2017-04-26 22:45] ebeshero commented on #18
I'll check the last time it was edited on the server (we should be able to see that...)

[2017-04-26 22:48] ebeshero commented on #18
Nope--the menu.html file remains as it was from April 24. I'll take a closer look to compare the file on the web server with the files we have on GitHub.

[2017-04-26 22:56] Samantha-Mcguigan commented on #18
@ebeshero I copy and pasted the CSS on GitHub on to my local computer and uploaded it to the site and it didn't change the menu which is strange because when we had that same CSS on the site 2 days ago it looked different. I'm not sure what the problem is because the it was fine before I started working a few hours ago..

[2017-04-26 22:58] ebeshero commented on #18
@Samantha-Mcguigan I'm inspecting the repo and the state of the web files--I bet there's an issue with Aaron's working over in his new branch of the repo--I think the master branch is missing the files as he worked on them. I'm taking a look over in his branch and comparing with the code we see on the web server right now.

[2017-04-26 23:04] ebeshero commented on #18
@Samantha-Mcguigan OHHH! I think I know what happened. It's not your fault (don't worry!)--I'll confirm in a moment.  I think you started working with the CSS in your master branch, but Aaron has some special styling over on his branch, which he didn't merge with the master branch.

That means, *your* CSS file from the master branch is missing the CSS that controls the buttons on the newly styled

[2017-04-26 23:05] ebeshero commented on #18
@ajnewton1 and @Samantha-Mcguigan We need to merge your changes to the CSS together on the master branch. I think I can do this by issuing a pull request and asking GitHub to help with the merge... (Presumably Aaron's in a final or something...! But I think we can fix this...) I just taught Aaron how to work in his own branch at your project meeting on Monday, and I think he just forgot to do the

[2017-04-26 23:07] Samantha-Mcguigan commented on #18
@ebeshero I'm willing to copy and paste what is on Aaron's CSS into the CSS I have on my computer and just add my changes onto that. Its only a few styling things for the links if that would be easier.

[2017-04-26 23:09] ebeshero commented on #18
@Samantha-Mcguigan That's effectively doing the merge by hand, and we may need to do that anyway, but let me take a look and compare the branch content first. I think we liked Aaron's changes, right? So maybe we should just commit them to the master branch anyway so we don't risk overwriting the website content again on other files!

[2017-04-26 23:11] Samantha-Mcguigan commented on #18
@ebeshero Sounds good to me! I will continue working on adding the links in my local branch in the meantime. By the way @jonhoranic while I'm doing this I'm able to see where we are missing hyperlinks in the XML documents so I will fix that while I'm there so you don't have to worry about it.

[2017-04-26 23:15] dotfig commented on #18
I was working on the website a few days ago. I think we should meet sometime tomorrow to get everything figured out

[2017-04-26 23:26] ebeshero commented on #18
@ajnewton1 @Samantha-Mcguigan I think I've resolved the conflict and made it safe to edit the web files again... Everyone do a Git Pull!

[2017-04-26 23:26] ebeshero commented on #18
@ajnewton1 Make sure you're standing on the master branch when you pull.

[2017-04-26 23:27] dotfig commented on #18
Did someone mess with the website?

[2017-04-26 23:28] ebeshero commented on #18
@ajnewton1 We're fixing it!

[2017-04-26 23:30] ebeshero commented on #18
@ajnewton1 There was an old copy of the CSS on the master branch... the others didn't have access to your CSS, and made a new edit to style links in the bodies of the HTML file. I'm about to replace what's on the web with your CSS. @Samantha-Mcguigan Check the style.css that you just pulled in from the "master" branch--I don't think you committed your changes to the master branch, did you?

[2017-04-26 23:31] ebeshero commented on #18
@Samantha-Mcguigan @ajnewton1 I'm going to put the CSS that I just pulled from Aaron's branch back up on the website. Sam, I think it's going to need your edits, still, so your links will probably go back to being white again.

[2017-04-26 23:32] ebeshero commented on #18
And go take a look at the website again! (whew!) Menu restored. :-)

[2017-04-26 23:38] ebeshero commented on #18
@Samantha-Mcguigan Add your edits to this revised CSS currently on your master branch of GitHub, and then push them back.

@ajnewton1 As you're working in your own separate "ajn" branch, you just need to send pull requests over the master branch so the others have access to your files. It's important so someone doesn't accidentally overwrite your updates to the website.

[2017-04-26 23:39] ebeshero commented on #18
**Rule of thumb** for all of you: once it's worthy to be posted on the website, it MUST be committed to the master branch of your project repo, so the entire team is using up-to-date files.

[2017-04-26 23:41] Samantha-Mcguigan commented on #18
@ebeshero I just pulled and I'm getting an error that my local changes will be overwritten by merge. Should I push my changes first?

[2017-04-26 23:43] ebeshero commented on #18
@Samantha-Mcguigan That's okay, and actually **good** because it means GitHub is recognizing your changes. Go ahead and **commit** your changes first. Then do `git status` and report what you see.

[2017-04-26 23:45] Samantha-Mcguigan commented on #18
Your branch is behind 'origin/master' by 5 commits, and can be fast-forwarded.
  (use "git pull" to update your local branch)

[2017-04-26 23:45] ebeshero commented on #18
@Samantha-Mcguigan OK--good! Go ahead and `git pull`.

[2017-04-26 23:49] ebeshero commented on #18
@Samantha-Mcguigan everything okay? Or merge conflict?

[2017-04-26 23:50] Samantha-Mcguigan commented on #18
It saying the files will be overwritten by merge

[2017-04-26 23:50] Samantha-Mcguigan commented on #18
Its telling me to commit or stash them

[2017-04-26 23:52] ebeshero commented on #18
Hmmm. Did you make lots of changes you won't remember how to do again, or do you think it's best to start over with fresh files?

[2017-04-26 23:52] Samantha-Mcguigan commented on #18
No I can start over its no big deal

[2017-04-26 23:53] ebeshero commented on #18
OK...let's give `git stash` a try...

[2017-04-26 23:53] ebeshero commented on #18
...if nothing happens, type `git status`.

[2017-04-26 23:53] Samantha-Mcguigan commented on #18
Saved working directory and index state WIP on master: 6a17908 making spot repair to menu.html so it fits into the whole as well-formed HTML
HEAD is now at 6a17908 making spot repair to menu.html so it fits into the whole as well-formed HTML

[2017-04-26 23:53] ebeshero commented on #18
YAY!

[2017-04-26 23:54] ebeshero commented on #18
Do a `git pull` now

[2017-04-26 23:54] Samantha-Mcguigan commented on #18
whoop!

[2017-04-26 23:54] ebeshero commented on #18
All in?

[2017-04-26 23:55] Samantha-Mcguigan commented on #18
Yep! Am good to start working again?

[2017-04-26 23:55] ebeshero commented on #18
@ajnewton1 @Samantha-Mcguigan I'm going to check to make sure the pages are well-formed in HTML: taking a peek in the w3c Validator. PAUSE a moment while I do this.

[2017-04-26 23:58] ebeshero commented on #18
https://validator.w3.org/nu/?doc=http%3A%2F%2Fnewsanalysis.newtfire.org%2F

Nothing serious, but you guys do have the xml line at the top. It's not a HUGE deal, but @ajnewton1 some of the pages might not be showing the search icon (need the UTF8 signal).

@Samantha-Mcguigan Yes, I think you can go ahead and work in your changes. And push to the master branch when you're ready.

@ajnewton1  I'd may

[2017-04-27 00:54] Samantha-Mcguigan commented on #18
@ebeshero @jonhoranic @ajnewton1 On some of the pages text and images are being cut off at the bottom by the blue bar and I'm not sure why. Any ideas?

[2017-04-27 00:56] dotfig commented on #18
@Samantha-Mcguigan Put a few ``</br>`` right before the blue bar.

[2017-04-27 00:56] Samantha-Mcguigan commented on #18
Nevermind @ajnewton1 in the CSS the bottom was set as fixed instead of relative!

[2017-04-27 01:01] Samantha-Mcguigan commented on #18
@jonhoranic @ajnewton1 Would you two want to put conclusions under the Methodology page or create a new page? I was thinking we could create a new issue and edit it together or if you want to meet, I can do between 3 and 6.

[2017-04-27 01:10] jonhoranic commented on #18
@Samantha-Mcguigan I think removing that bottom paragraph at the bottom of the homepage (or moving it to methodology) and putting our conclusions in short there would tie up everything there on the homepage at a glance, then the reader could click around to see for themselves.

[2017-04-27 01:14] Samantha-Mcguigan commented on #18
@jonhoranic @ajnewton1 okay, Im going to go ahead and move that.

[2017-04-27 18:09] Samantha-Mcguigan commented on #18
@jonhoranic @ajnewton so are we meeting today or just creating a new issue for conclusions?

[2017-04-27 18:42] dotfig commented on #18
@Samantha-Mcguigan @jonhoranic I can meet today. I have a final at 3:15 so hopefully I will be out by 4. But if no one is around then we can just make an issue

[2017-04-27 18:47] jonhoranic commented on #18
@Samantha-Mcguigan @ajnewton1 I am unfortunately sick as a dog, a recent flare up this morning prevented me from making it to the college. I am doing what I can, I can work from an issues board if need be, let me know. I will be working on the write up content soon, let me know if there are any descriptions you think we should add.

[2017-04-27 21:46] Samantha-Mcguigan opened #22 "Conclusions"
@jonhoranic @ajnewton1 We'll use this issue to write our conclusions from the project. We can just go in and edit one post then someone can put it up on the site

[2017-04-27 21:54] Samantha-Mcguigan commented on #22
In doing our analysis of the articles for major news sources we were able to answer several questions. By tagging the emotional language in five articles for each news site, it became apparent that FOX and CNN using the most emotional language words and are therefore, as we expected, the most bias of the four new sources followed by NPR and BBC, which we also expected would be the least biased as

[2017-04-28 03:28] jonhoranic commented on #18
@Samantha-Mcguigan @ajnewton1 I am almost done with the last few edits of the site info, the files as pushed can go right up on the site but please look them over just to make sure we agree on everything written.

[2017-04-28 04:17] jonhoranic commented on #18
@Samantha-Mcguigan @ajnewton1 All spelling/grammar is checked, I am moving on to link problems for the moment. Let me know if there is anything else I am missing.

EDIT: Not seeing any issues with the links on my end, each one in the hyperlink element works.

[2017-04-28 05:54] Samantha-Mcguigan commented on #18
@jonhoranic @ajnewton1 are either one of you going to add to the conclusions paragraph? If not I'm just going to put it up as is. @jonhoranic are you going to turn the project in?

[2017-04-28 06:12] Samantha-Mcguigan commented on #18
@jonhoranic @ajnewton1 I went ahead and pushed the conclusions to the index page, feel free to change it. @jonhoranic since you are our fearless leader I'm going to leave it to you to create the final issue letting Dr. B and Becca know our site is ready for grading.

[2017-04-28 12:40] jonhoranic commented on #18
@Samantha-Mcguigan Sorry for not seeing this last night, I am putting up an issue now. I will ping @ajnewton1 and everyone else from it.

[2017-04-28 12:43] jonhoranic opened #23 "Project Turn In"
@ebeshero @RJP43 @Samantha-Mcguigan @ajnewton1
Final preparations have been made, and seeing no new developments from last night's final elements, everything is up on the server and the site is ready for grading. Thank you for all your hard work @ajnewton1  and @Samantha-Mcguigan , it has been a pleasure to work with you both.

[2017-04-28 12:50] ebeshero commented on #23
@jonhoranic @ajnewton1 @Samantha-Mcguigan Four questions:
1) Do you want to put a link to your GitHub on the site?
2) The last two paragraphs/sentences on the Methodology page are unfinished--did you intend that?
3) Do you want to correct the spelling of Sam's name on the Team page?
4) Somewhere on the site, you might want to include information and a link about our class/context for the project--

[2017-04-28 12:57] ebeshero commented on #23
@ajnewton1 @Samantha-Mcguigan @jonhoranic It looks to me like the site really needs one last round of small edits before we grade it just to finish things off--I added a few to the list above. The biggest problem is the unfinished material on the Methodology page. It'll make a big difference (really!) if someone will step up and repair these things. Can someone make these edits and just take anoth

[2017-04-28 13:17] jonhoranic commented on #23
@ebeshero I could have sworn that the edits were up. Perhaps I was looking at the local files? Let me check and see whats going on.

[2017-04-28 13:45] jonhoranic commented on #23
@ebeshero Still confused about what happened there, but I checked and moved the website files around and now it seems to be working properly now.

[2017-04-28 13:48] ebeshero commented on #23
@jonhoranic Still problems--refer to the list above. And look at the graphs pages.

[2017-04-28 14:12] jonhoranic commented on #23
@ebeshero Ok, now the new changes are incorporated and I am seeing them on the server side version of the site. Are you seeing any of the changes? I wonder if you might need to refresh the browser for them to load.

[2017-04-28 23:21] ebeshero commented on #23
@jonhoranic Sorry for the delayed response, but thanks for making those corrections. The site looks much better now, and the content appears to be complete! 👍

[2018-02-23 21:59] #7 closed

[2018-02-23 21:59] #8 closed

[2018-02-23 21:59] #9 closed

[2018-02-23 21:59] #10 closed

[2018-02-23 21:59] #11 closed

[2018-02-23 21:59] #12 closed

[2018-02-23 21:59] #14 closed

[2018-02-23 21:59] #16 closed

[2018-02-23 21:59] #18 closed

[2018-02-23 21:59] #19 closed

[2018-02-23 21:59] #20 closed

[2018-02-23 21:59] #22 closed